.shop-title{
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7c795d; font-family: 'Trocchi', serif; 
  font-size: 32px; 
  font-weight: normal; 
  line-height: 280px; margin: 0;
}
.shop-1_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -100px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}

/* Product image */
.shop-1_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-1_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Product name */
.shop-1_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}

/* Price container */
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Original price */
.original-price {
  color: #999;
  text-decoration: line-through;
}

/* Discounted price */
.discounted-price {
  color: #d9534f; /* Bootstrap's danger color */
  font-weight: bold;
}

/* Discount label */
.discounted-label {
  color: #5bc0de; /* Bootstrap's info color */
}
.shop-2_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}

/* Product image */
.shop-2_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-2_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-2_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-3_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}

/* Product image */
.shop-3_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-3_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-3_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-4_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1100px;
}

/* Product image */
.shop-4_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-4_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-4_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-5_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: 80px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}

/* Product image */
.shop-5_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-5_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-5_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-6_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}

/* Product image */
.shop-6_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-6_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-6_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-7_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}

/* Product image */
.shop-7_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-7_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-7_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-8_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1100px;
}

/* Product image */
.shop-8_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-8_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-8_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-9_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: 100px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}
.shop-9_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-9_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-9_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-10_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}
.shop-10_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-10_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-10_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-11_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}
.shop-11_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-11_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-11_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-12_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1090px;
}
.shop-12_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-12_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-12_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-13_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: 100px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}
.shop-13_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-13_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-13_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-14_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}
.shop-14_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-14_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-14_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-15_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}
.shop-15_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-15_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-15_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-16_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1100px;
}
.shop-16_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-16_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-16_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-17_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: 80px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}
.shop-17_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-17_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-17_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-18_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}
.shop-18_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-18_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-18_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-19_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}
.shop-19_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-19_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-19_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.shop-20_image{
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1100px;
}
.shop-20_image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.shop-20_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.shop-20_image p{
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
