.spotlight-title {
  margin-top: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 280px;
  margin: 0;
}

/* shop component container */
.spotlight {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}

/* Individual product container */
.spotlight-1_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -100px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}

/* Product image */
.spotlight-1_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-1_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Product name */
.spotlight-1_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}

/* Price container */
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 380px;
}

/* Original price */
.original-price {
  color: #999;
  text-decoration: line-through;
}

/* Discounted price */
.discounted-price {
  color: #d9534f; /* Bootstrap's danger color */
  font-weight: bold;
}

/* Discount label */
.discounted-label {
  color: #5bc0de; /* Bootstrap's info color */
}
.spotlight-2_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}

/* Product image */
.spotlight-2_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-2_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-2_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.spotlight-3_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}

/* Product image */
.spotlight-3_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-3_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-3_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.spotlight-4_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1100px;
}

/* Product image */
.spotlight-4_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-4_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-4_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.spotlight-5_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: 80px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 140px;
}

/* Product image */
.spotlight-5_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-5_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-5_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.spotlight-6_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 460px;
}

/* Product image */
.spotlight-6_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-6_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-6_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.spotlight-7_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 780px;
}

/* Product image */
.spotlight-7_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-7_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-7_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
.spotlight-8_image {
  flex: 1;
  display: flex;
  height: 350px;
  margin-top: -360px;
  padding-left: 100px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 265px;
  margin-left: 1100px;
}

/* Product image */
.spotlight-8_image img {
  width: 100%; /* Make sure the image takes full width */
  border-radius: 4px; /* Apply border-radius to the image */
}
.spotlight-8_image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.spotlight-8_image p {
  text-align: center;
  margin: 10px 0 0;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  margin-left: -280px;
}
